<!DOCTYPE html>
{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="{% static '/job/css/bootstrap.min.css' %}" rel="stylesheet" >
    <link href="{% static '/job/css/job.css' %}" rel="stylesheet" >
<script src="{% static '/job/js/bootstrap.min.js' %}" ></script>
</head>
<body>
    <div id="language-switch" class="btn-group">
      <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{ LANGUAGE_CODE }}
      </button>
      <ul class="dropdown-menu">
        {% for language in languages %}
        <li><a href="/{{ language.code }}/" class="dropdown-item">{{ language.name_local }}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-1 col-md-2"></div>
            <div class="col-sm-10 col-md-8 p-4 d-flex flex-column align-items-center">
              {% block content %}
              {% endblock %}
            </div>
          <div class="col-sm-1 col-md-2"></div>
      </div>
    </div>  

    {% block js %}
    {% endblock %}
</body>
</html>