{% load i18n %}
{% load static %}

<div class="d-flex flex-column align-self-center">
  <a class="mb-1" href="https://t.me/Tititun"><img class="me-1" height="25" src="{% static '/job/images/telegram.jpeg' %}">{% trans "Telegram" %}</a>
  <a class="mb-1" href="mailto:vinniopo@mail.ru"><img class="me-1" height="25" src="{% static '/job/images/mail.png' %}">{% trans "Email" %}</a>
  <a href="https://wa.me/79131110962"><img class="me-1" height="25" src="{% static '/job/images/whatsapp.jpeg' %}">Whatsapp</a>
</div>